#pokedex{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pokedex{
    position: relative;
}

.mainImage{
    position: absolute;
    top: 25%;
    left: 31%;
}
.identification{
    position: absolute;
    top: 38%;
    left: 31%;
}
.moves{
    width: 18%;
    position: absolute;
    top: 28%;
    right: 25%;
    color: whitesmoke;
}
