#pokedex{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pokedex{
    position: relative;
}

.mainImage{
    position: absolute;
    top: 25%;
    left: 31%;
}
.moves{
    width: 20%;
    position: absolute;
    top: 26%;
    right: 25%;
    color: whitesmoke;
}